*{
    padding: 0;
    margin: 0;
    font-family: 'Overpass', sans-serif;
}

body
{ 
min-height: 100vh;
display: flex; 
text-align: center; 
align-items: center;
justify-content: center;
padding: 0 15px;
}

.main-container{
    width: 30em;
    height: 30em;
    background-image: linear-gradient(#232A34 0%, #181E27 80%);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.circled-star{
    position: absolute;
    left: 35.5em;
    top: 10em;
    width: 4em;
    height: 4em;
    background-color: #262E38;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 80%;
    align-items: start;
    text-align: start;
    margin-top: 5em;
}

.content h1 , .content p{
    margin-bottom: 0.5em;
}

.content h1{
    color: #FFFFFF;
}

.content p{
    color: #969FAD;
    font-size: large;
    line-height: 1.3em;
}

.choose-circles{
    margin-top: 2em;
    margin-bottom: 2em;
}

.choose-circles button{
    padding: 19px 26px;
    border: none;
    border-radius: 50%;
    color: #969FAD;
    background-color: #262E38;
    margin-left: 10px;
    margin-right: 9px;
    font-size: large;
}

.submit-button button{
    padding: 20px 170px;
    background-color: #fc7614;
    color:#FFFFFF;
    border: none;
    border-radius: 1.7rem;
    margin-top: 1em ;
}


.submit-button button:hover{
    background-color: #FFFFFF;
    color: #fc7614;
    cursor: pointer;
}

.choose-circles button:focus{
    background-color: #7C8798;
    color: #FFFFFF;
}

.choose-circles button:hover{
    background-color: #fc7614;
    color: white;
}


.selection{
    background-color: #262E38;
    padding: 7px 25px;
    border-radius: 25px;
    font-size: larger;
    color: #FC7614;
}

.contents h1{
    color: #FFFFFF;
}

.contents p{
    color : #969FAD;
    width: 75%;
    margin-left: 3.9em;
    margin-top: 1em;
}

.hidden div{
    margin-bottom: 1.1em;
    margin-top: 1.1em;
}

.hidden{
    display: none;
}


/* @media screen and (max-height:300px){
    .main-container{
    }
} */
